{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
        {{ form_widget(form) }}

        <p><em>Crée par {%  if not task.user %} Anonyme {% else %} {{ task.user.username }} {% endif %} </em></p>

        <button type="submit" class="btn btn-success pull-right">Modifier</button>
        <a href="{{ path('homepage') }}" class="btn btn-primary pull-left">Retour à la gestion des tâches</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
